.tableWitHeaderContainer {
  padding: 0;
  border: 1px solid #bbbec5;
  border-radius: 12px;
  gap: 0;
  overflow: hidden;
}

.tableWitHeaderContainer__title {
  margin: 16px 24px;
  font-family: Banda Semi bold;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

.tableWitHeaderContainer h3 + div {
  border: none;
  border-radius: 0;
}
